/*Estilos generales*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    margin:0;
    padding:0;
    font-family: "Montserrat", sans-serif;
    background-color: white;
    color:black;
    overflow-x:hidden;
}

header {
    background-color: rgb(245,245,245);
    width:115%;
    padding:10px 15px;
    height:120px;
    
}

/*estilos del contenedor que incluye al logo y el navbar*/
.container{
    display:flex;
    flex-direction:row;
    justify-content:space-between;
    align-items:flex-start;
    margin-top:-16px;
    padding:0 8px;
}
.logo {
    display:flex;
    align-items:center
}
.logo-img {
    height:auto;
    width:150px;
    margin:0;
    padding: 15px 10px;
}

/*estilos de nav:contiene a nav-list y al menu hamburguesa*/
.nav {
    display: flex;   
    color:black; 
    padding:60px;
}

/*caracteristicas del nav-list:*/
.nav-list {
    display:none;
}

.nav-mobile{
    display: none;
    padding: 0px; 10px;   
    background-color:white;
    width:110%;
    height:260px;    
    font-size:15px;
} 

.list-mobile {
    white-space: nowrap;
    display:flex;
    flex-direction:column;
    align-items:flex-end;
    margin-right:45px;
    padding:0 1px;
    background-color:moccasin;
}
.nav-mobile a {
    text-decoration: none;
    color: black;
    margin-left:10px;
    width:100%;
    cursor:pointer;
}
.nav-mobile li {
    list-style-type: none;
    padding:20px;
    margin-left:350px;
}


/*estilos de nav-list: pongo color negro y quito subrayado*/
.nav-list a{
    color:black;
    text-decoration:none;
}


/*características del menu-icon, que contiene al hamburguesa: disposición de las líneas*/
.menu-container {
    display: flex;
    flex-direction:row;
    width:40px;
}

.menu-icon {
    display: flex;
    flex-direction: column;
    cursor: pointer;
    height: 50px;
    width:50px;
}
.menu-back {
    display:none;
    flex-direction: column;
    cursor: pointer;
    height: 50px;
    width:50px;
}
/*características del menú hamburguesa
  alto, ancho, color y separación entre sus líneas*/
.menu-bar {
    width: 30px;
    height: 3px;
    background-color: #000;
    margin: 4px 0;
}
/* Clase que muestra el menú en mobile */
.nav-list.show {
    visibility: visible;
    opacity: 1;
    height: auto;
}
/*----Desktop------*/

@media (min-width: 768px) {

header {
    background-color: rgb(245,245,245);
    width:100%;
    padding:10px 15px;
    display:flex;
    height:120px;
   }

.container {
    gap: 8rem;
    display:flex;
    flex-direction:row;
    justify-content:space-between;
    align-items:center;

}

.nav-list {
    list-style: none; /*saco las viñetas*/
    flex-direction:row; /*una al lado de la otra*/
    gap: 5rem; /* separo entre cada una*/
    padding:10px;
    display:flex;
    font-size:15px;
}
.menu-icon {
    display:none; /*lo elimino cuando paso a desktop*/
}

}
